/* Типография */
body, ul, li, p, a, label, input, div {
  font-family: 'Roboto', sans-serif;
  font-size: 18px !important;
  font-weight: 300 ;
}

p {
    margin-top: 5px;
    margin-bottom: 1rem;
}
.h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px !important;
  font-weight: 200 !important;
}
.h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px !important;
  font-weight: 300;
}
.h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px !important;
}
.price{
  font-family: 'Roboto', sans-serif;
  font-size: 22px !important;
  font-weight: 700;
}
.button_basket{
  background-color: #c52d18 !important;
  border-color: #bd3b2a !important;
  cursor: pointer;
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-font-size: 1.25rem;
  --bs-btn-border-radius: var(--bs-border-radius-lg);
  border: none;
  --bs-btn-color: #fff;
  --bs-btn-bg: #198754;
  --bs-btn-border-color: #198754;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #157347;
  --bs-btn-hover-border-color: #146c43;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #146c43;
  --bs-btn-active-border-color: #13653f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #198754;
  --bs-btn-disabled-border-color: #198754;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* Цвета */
.logo { font-weight: 500 !important;}
.text-warning {  color: #ede861 !important;}
.text-muted { color: #bcbcbc !important;}
.text-success { color: #c52d18 !important;}
.text-light { color: #cfd6e1 !important;}
.bg-dark { background-color: #212934 !important;}
.bg-light { background-color: #e9eef5 !important;}
.bg-black { background-color: #1d242d !important;}
.bg-success { background-color: #c52d18 !important;}
.btn-success {
  background-color: #c52d18!important;
  border-color: #bd3b2a !important;
}
.pagination .page-link:hover {color: #000;}
.pagination .page-link:hover, .pagination .page-link.active {
  background-color: #bd3b2a;
  color: #fff;
}

/* Nav */
#frw_nav_top { min-height: 40px;}
#frw_nav_top * { font-size: .9em !important;}
#frw_main_nav a { 
  color: #212934;
  font-weight: 500;
}
#frw_main_nav a:hover { color: #bd3b2a;}
#frw_main_nav .navbar .nav-icon { margin-right: 20px;}
/* Hero Carousel */
#frw-mo-zay-hero-carousel { background: #efefef !important;}
/* Accordion */
.frw-accordion a { color: #000;}
.frw-accordion a:hover { color: #333d4a;}
/* Shop */
.shop-top-menu a:hover { color: #bd3b2a !important;}
/* Product */
.product-wap { box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);}
.product-wap .product-color-dot.color-dot-red { background:#f71515;}
.product-wap .product-color-dot.color-dot-blue { background:#6db4fe;}
.product-wap .product-color-dot.color-dot-black { background:#000000;}
.product-wap .product-color-dot.color-dot-light { background:#e0e0e0;}
.product-wap .product-color-dot.color-dot-green { background:#0bff7e;}
.card.product-wap .card .product-overlay {
  background: rgba(0,0,0,.2);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}
.card.product-wap:hover .card .product-overlay {
  visibility: visible;
  opacity: 1;
}
.card.product-wap a { color: #000;}
#carousel-related-product .slick-slide:focus { outline: none !important;}
#carousel-related-product .slick-dots li button:before {
  font-size: 15px;
  margin-top: 20px;
}
/* Brand */
.brand-img {
  filter: grayscale(100%);
  opacity: 0.5;
  transition: .5s;
}
.brand-img:hover {
  filter: grayscale(0%);
  opacity: 1;
}
/* Carousel Hero */
#frw-mo-zay-hero-carousel .carousel-indicators li {
  margin-top: 0px;
  background-color: rgb(197, 45, 24);
}
#frw-mo-zay-hero-carousel .carousel-control-next i,
#frw-mo-zay-hero-carousel .carousel-control-prev i {
  color: #c52d18 !important;
  font-size: 2.8em !important;
}
/* Скрыть маркеры внутри элементов индикаторов слайдера */
#frw-mo-zay-hero-carousel .carousel-indicators li {
    list-style: none;
}

/* Зум при наведении */
.img-zoom {
  transition: transform 0.35s ease, box-shadow 0.5s ease;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
.img-zoom:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(148, 33, 17, 0.9);
}

.recom{
  transition: transform 0.35s ease, box-shadow 0.5s ease;
 
}

.recom:hover {
  transform: scale(1.02);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

/* Регулировка и контроль изображений в магазине  */


/* Carousel Brand */
.frw-carousel .h1 {
  font-size: .5em !important;
  color: #000 !important;
}
/* Services */
.fa:hover:before {color:#c52d18} 
.services-icon-wap {transition: .3s;}
.services-icon-wap:hover, .services-icon-wap:hover i {color: #fff;}
.services-icon-wap:hover {background: #bd3b2a;}
/* Contact map */
.leaflet-control a, .leaflet-control { font-size: 10px !important;}
.form-control { border: 1px solid #e8e8e8;}
/* Footer */
#frw_footer a { color: #dcdde1;}
#frw_footer a:hover { color: #c52d18;}
#frw_footer ul.footer-link-list li { padding-top: 10px;}
#frw_footer ul.footer-icons li {
  width: 2.6em;
  height: 2.6em;
  line-height: 2.6em;
}
#frw_footer ul.footer-icons li:hover {
  background-color: #cfd6e1;
  transition: .5s;
}
#frw_footer ul.footer-icons li:hover i {
  color: #212934;
  transition: .5s;
}
#frw_footer .border-light { border-color: #2d343f !important;}
/*
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
*/

.product-wap .h3, .product-wap li, .product-wap i, .product-wap p {
  font-size: 12px !important;
}
.product-wap .product-color-dot {
  width: 6px;
  height: 6px;
}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .frw-carousel .h1 { font-size: 1em !important;}
}

/* Устройства среднего размера (планшеты с разрешением 768 пикселей и выше)*/
@media (min-width: 768px) {
  #frw_main_nav .navbar-nav {max-width: 450px;}
 }


/* Большие устройства (настольные компьютеры с разрешением 992 пикселя и выше)*/
@media (min-width: 992px) {
  #frw_main_nav .navbar-nav {max-width: 550px;}
  #frw-mo-zay-hero-carousel .carousel-item {min-height: 30rem !important;}
  .product-wap .h3, .product-wap li, .product-wap i, .product-wap p {font-size: 18px !important;}
  .product-wap .product-color-dot {
    width: 12px;
    height: 12px;
  }
}

/* Устройства очень большого размера (большие настольные компьютеры, 1200 пикселей и выше)*/
@media (min-width: 1200px) {}


